In [3]:
import pandas as pd
import sqlite3
import numpy as np

In [4]:

con = sqlite3.connect(r'C:\projects\Cafe\cafe.db')

In [5]:
df = pd.read_sql("select * from breakfast_at_time", con)

In [16]:
df.head()

,num_check,datetime,smena,good,total_chek,price,amount,position_good,nds_good,sum_bez_nds,payment,check_unique,naimenovanie,group,on-group,mnth,avg_zakup_sum,profit_good
0,92970,2024-01-09 08:06:00,240,Яичница с беконом,181.0,45.0,1.0,1,7.50,37.50,card,92970 - 6916860058096,Яичница с беконом,Завтрак,Яичница,Январь,22.95,14.55
1,92970,2024-01-09 08:06:00,240,Сосиски отварные,181.0,65.0,1.0,2,10.83,54.17,card,92970 - 6916860058096,Сосиски отварные,Основное блюдо,Колбаски разные,Январь,23.78,30.39
2,92970,2024-01-09 08:06:00,240,Каша овсяная на молоке,181.0,65.0,1.0,3,10.83,54.17,card,92970 - 6916860058096,Каша овсяная на молоке,Завтрак,Каши,Январь,13.75,40.42
3,92970,2024-01-09 08:06:00,240,Хлеб ржано-пшеничный,181.0,6.0,1.0,4,1.00,5.00,card,92970 - 6916860058096,Хлеб ржано-пшеничный,Хлеб,Хлеб,Январь,1.84,3.16
4,92971,2024-01-09 08:07:00,240,Каша рисовая на молоке,145.0,65.0,1.0,1,10.83,54.17,card,92971 - 6916860058096,Каша рисовая на молоке,Завтрак,Каши,Январь,17.42,36.75

In [24]:
df_amount_ABC = df.groupby('naimenovanie').agg({'amount': sum, 'profit_good': sum}).reset_index()

C:\Users\Михаил\AppData\Local\Temp\ipykernel_18292\1443680415.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_amount_ABC = df.groupby('naimenovanie').agg({'amount': sum, 'profit_good': sum}).reset_index()
C:\Users\Михаил\AppData\Local\Temp\ipykernel_18292\1443680415.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_amount_ABC = df.groupby('naimenovanie').agg({'amount': sum, 'profit_good': sum}).reset_index()

In [40]:
df_amount_ABC['prc_amount'] = round(df_amount_ABC['amount'] / sum(df_amount_ABC['amount']) * 100, 2)
df_amount_ABC['prc_profit'] = round(df_amount_ABC['profit_good'] / sum(df_amount_ABC['profit_good']) * 100, 2)

In [41]:
df_amount_ABC = df_amount_ABC.sort_values(by='amount', ascending=False)

In [42]:
df_amount_ABC[f'cum_amount_prc'] = df_amount_ABC[f'prc_amount'].cumsum()

In [43]:
df_amount_ABC['abc'] = np.where(df_amount_ABC['cum_amount_prc'] < 80, 'A', np.where(df_amount_ABC['cum_amount_prc'] < 95, 'B', 'C'))

In [ ]:
df_amount_ABC.sort_values

In [44]:
df_amount_ABC['cum_profit_prc'] = df_amount_ABC['prc_profit'].cumsum()

In [47]:
df_amount_ABC

,naimenovanie,amount,profit_good,prc_amount,prc_profit,cum_amount_prc,abc,cum_profit_prc
306,Сырник,4095.0,6054.28,7.36,0.47,7.36,A,0.47
384,Яичница с беконом,3693.0,33432.92,6.63,2.62,13.99,A,3.09
64,Драник картофельный,2883.0,57223.85,5.18,4.48,19.17,A,7.57
54,Горячий бутерброд,2283.0,91848.98,4.10,7.19,23.27,A,14.76
129,Контейнер неразъемный,1963.0,6634.19,3.53,0.52,26.80,A,15.28
...,...,...,...,...,...,...,...,...
203,Окорок куриный жареный,1.0,135.67,0.00,0.01,99.93,C,99.89
351,Филе лосося на гриле,1.0,33.09,0.00,0.00,99.93,C,99.89
328,Торт Пьемонт,1.0,37.50,0.00,0.00,99.93,C,99.89
229,Пирог с капустой и яйцом 1 кг,0.5,270.18,0.00,0.02,99.93,C,99.91
228,Пирог с вишней 1 кг,0.5,375.02,0.00,0.03,99.93,C,99.94