In [1]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.float_format', '{:,.2f}'.format)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_pickle(r'D:\Projects\Cafe db\filtered_data')

In [4]:
df.head()

,rnm,num_check,datetime,time_eat,smena,good,total_chek,price,pr_bez_nds,avg_price,profit,amount,position_good,summa,payment,check_unique,group,on-group,seasons,day,hour,date,revenue,mnth,quart
0,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Яичница с беконом,181.00,45.00,37.50,22.95,14.55,1.00,1,181.00,card,92970 - 6916860058096,Завтрак,Яичница,Зима,Вторник,8,2024-01-09,37.50,Январь,1 Квартал
1,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Сосиски отварные,181.00,65.00,54.17,23.78,30.39,1.00,2,181.00,card,92970 - 6916860058096,Основное блюдо,Колбаски разные,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал
2,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Каша овсяная на молоке,181.00,65.00,54.17,13.75,40.42,1.00,3,181.00,card,92970 - 6916860058096,Завтрак,Каши,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал
3,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Хлеб ржано-пшеничный,181.00,6.00,5.00,1.84,3.16,1.00,4,181.00,card,92970 - 6916860058096,Хлеб,Хлеб,Зима,Вторник,8,2024-01-09,5.00,Январь,1 Квартал
4,6916860058096,92971,2024-01-09 08:07:00,Ранний завтрак,240,Каша рисовая на молоке,145.00,65.00,54.17,17.42,36.75,1.00,1,145.00,card,92971 - 6916860058096,Завтрак,Каши,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал

In [5]:
df_breakfast = df[(df['time_eat'] == 'Завтрак') | (df['time_eat'] == 'Ранний завтрак')]

In [6]:
df_breakfast.head()

,rnm,num_check,datetime,time_eat,smena,good,total_chek,price,pr_bez_nds,avg_price,profit,amount,position_good,summa,payment,check_unique,group,on-group,seasons,day,hour,date,revenue,mnth,quart
0,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Яичница с беконом,181.00,45.00,37.50,22.95,14.55,1.00,1,181.00,card,92970 - 6916860058096,Завтрак,Яичница,Зима,Вторник,8,2024-01-09,37.50,Январь,1 Квартал
1,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Сосиски отварные,181.00,65.00,54.17,23.78,30.39,1.00,2,181.00,card,92970 - 6916860058096,Основное блюдо,Колбаски разные,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал
2,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Каша овсяная на молоке,181.00,65.00,54.17,13.75,40.42,1.00,3,181.00,card,92970 - 6916860058096,Завтрак,Каши,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал
3,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Хлеб ржано-пшеничный,181.00,6.00,5.00,1.84,3.16,1.00,4,181.00,card,92970 - 6916860058096,Хлеб,Хлеб,Зима,Вторник,8,2024-01-09,5.00,Январь,1 Квартал
4,6916860058096,92971,2024-01-09 08:07:00,Ранний завтрак,240,Каша рисовая на молоке,145.00,65.00,54.17,17.42,36.75,1.00,1,145.00,card,92971 - 6916860058096,Завтрак,Каши,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал

In [7]:
df_abc = df_breakfast.groupby(['on-group']).agg({'revenue': sum}).reset_index().sort_values(by='revenue', ascending=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13284\2859466644.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_abc = df_breakfast.groupby(['on-group']).agg({'revenue': sum}).reset_index().sort_values(by='revenue', ascending=False)

In [8]:
df_abc['cumsum'] = df_abc['revenue'].cumsum()

In [9]:
df_abc['%'] = df_abc['cumsum'].apply(lambda x: x / df_abc['revenue'].sum()) * 100

In [10]:
df_abc['revenue'].sum()

np.float64(6268080.628)

In [15]:
def abc(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

In [16]:
df_abc['ABC'] = df_abc['%'].apply(abc)

In [17]:
df_abc

     on-group    revenue       cumsum      % ABC
1       Блины 585,154.07   585,154.07   9.34   A
41       Кофе 535,423.32 1,120,577.39  17.88   A
115   Яичница 437,128.19 1,557,705.58  24.85   A
33       Каши 376,243.28 1,933,948.86  30.85   A
63      Омлет 330,960.86 2,264,909.72  36.13   A
..        ...        ...          ...    ...  ..
69     Паштет      58.33 6,267,909.79 100.00   C
71      Пирог      50.00 6,267,959.79 100.00   C
57   Нектарин      41.67 6,268,001.46 100.00   C
84       Пунш      41.67 6,268,043.13 100.00   C
68    Пастила      37.50 6,268,080.63 100.00   C

[117 rows x 5 columns]

In [18]:
df_abc.to_csv('abc_breakfast.csv', index=False)